.board__card {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: $card-border;
  border-radius: $medium-border-radius;
  width: 350px;
  background: $card-bg-color;

  user-select: none;

  &:hover {
    cursor: grab;
  }

  .board__card__chips__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;

    .card__chips {
      background-color: rgba(red, 0.1);
      padding: 4px;
      font-size: 10px;
      font-weight: 700;
      letter-spacing: 2px;
      text-transform: uppercase;
      border-radius: $small-border-radius;
      color: red;
    }
  }

  .card__content {
    display: flex;
    flex-direction: column;
    user-select: none;

    .card__title {
      margin-top: 5px;
      color: $bold-text-color;
      font-weight: 800;
      font-size: 15px;
      display: none;
    }

    .card__description {
      margin-top: 10px;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      color: #8a8ca1;
      font-size: 14px;
      font-weight: 400;
    }
  }
}

.card__example {
  width: 300px;
  height: 275px;
  border-radius: $normal-border-radius;
  overflow: hidden;
  padding: 10px;
  background-color: rgba(white, 0.05);
  border: $white-border;

  font-weight: 100;

  .card__header {
    height: 50px;
    display: flex;
    align-items: center;

    .chips__wrapper {
      display: flex;
      gap: 5px;

      .chips {
        display: flex;
        padding: 5px 10px;
        font-size: 12px;
        border-radius: $small-border-radius;
        font-weight: 600;

        &.yellow {
          background-color: rgba(lightblue, 0.3);
          color: lightblue;
        }

        &.pink {
          background-color: rgba(chocolate, 0.3);
          color: chocolate;
        }
      }
    }
  }

  .card__content {
    padding: 10px 0;

    p {
      font-size: 14px;
      line-height: 18px;
    }
  }

  footer {
    padding: 20px 0;

    .checked__wrapper {
      display: flex;
      width: 30px;
      height: 30px;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      border: 1px solid grey;
    }
  }
}
