main {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;

  h1 {
    font-weight: 900;
    font-size: 5rem;

    background: linear-gradient(to top, black 0%, $normal-text-color 100%);
    padding: 20px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  span {
    font-weight: 100;
    width: 1000px;
    text-align: center;
    line-height: 20px;
  }

  .special {
    font-weight: 900;
    font-size: 5rem;
    -webkit-text-fill-color: $special-color;
    text-shadow: 0 0 10px $special-color;
  }

  .buttons__wrapper {
    margin-top: 50px;
  }

  .img__wrapper {
    position: relative;
    .main__hero__img {
      margin-top: 50px;
      border-radius: 30px;
      width: 1000px;
      transform: skewX(-0.01turn);
      border: $normal-border;
    }

    .card__example {
      position: absolute;
      z-index: 999;
      right: -200px;
      top: 40%;
      backdrop-filter: blur(5px);
    }

    .tip {
      position: absolute;
      z-index: 99;
      display: flex;
      gap: 5px;
      padding: 15px;
      border-radius: $normal-border-radius;
      background-color: rgba(white, 0.02);
      border: $white-border;
      backdrop-filter: blur(5px);

      &:nth-child(1) {
        rotate: -10deg;
      }

      .tip__left {
        img {
          width: 45px;
        }
      }

      .tip__right {
        .content {
          text-align: start;
          font-weight: 100;
        }

        .stars__wrapper {
          margin-top: 7px;

          img {
            width: 15px;

            &:not(:first-child) {
              margin-left: 5px;
            }
          }
        }
      }
    }
  }
}
