$background-color: #fff;
$special-color: #5d68fe;

// Text
$normal-text-color: #999aaf;
$bold-text-color: #272a53;

// Border Radius
$normal-border-radius: 15px;
$medium-border-radius: 10px;
$small-border-radius: 5px;

// Border
$normal-border: 1px solid #ebedf3;

// Box shadow
$normal-box-shadow: 0 0 5px 0 rgba(231, 233, 238, 0.2);
